.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

  .login-text {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    color: var(--primary);
  }

  .row {
    width: 100%;
    .form {
      border: 1px solid var(--border);
      border-radius: 15px;
      padding: 3rem 1rem;
      background-color: white !important;

      .form-control {
        border: none;
        border-bottom: 1px solid var(--border);
        border-radius: 0px;
      }

      .submit-btn {
        background-color: var(--primary);
        color: white !important;
        width: 100%;
        border-radius: 10px;
        height: 3rem;
        margin-top: 2rem;
      }
    }
  }
}
